@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítej na mojem webu</h1>
    <p>
        Tenhle Web je vytvořen pomocí ASP.NET Core.
    </p>
    <p>
        Vytvořil jsem ho abych se v něm naučil a zdokonalil.
        Postupně tady budu přidávat různé prvky a funkce.
    </p>

    </div>
