@{
    ViewData["Title"] = "Zobrazení z databáze";
}
@model Uzivatel


<div class="text-center container">
    <h1>
        Vytvořit záznam
    </h1>
</div>
<div class="container border-2 rounded bg-light d-flex">
    <form method="post" class=" row">
        <div class="border p-3 mt-4">
            <div class="mb-3 row p-1">
                <label asp-for="Name" class="p-0 text-dark"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>
            <div class="mb-3 row p-1">
                <label asp-for="DateOfRegistration" class="p-0 text-dark"></label>
                <input asp-for="DateOfRegistration" class="form-control" />
                <span asp-validation-for="DateOfRegistration" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Uložit</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Home" asp-action="Databaze" class="btn btn-outline-secondary border form-control">
                        Zrušit
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>
